<div class='d-flex justify-content-between breacrumb' *ngIf="this.isDataAvailable">
    <ng-container *ngIf="f.vacationID.value && formSubmit.get('allowUpdate').value == true ">
        <app-breadcrumb-share [parrentBreabcrumb]="'breadcrumb.parrent.vacation.send-request'"
            [childBreabcrumb]="'breadcrumb.child.update'" [parrentBreabcrumbUrl]="'/send-list'">
        </app-breadcrumb-share>
    </ng-container>
    <ng-container *ngIf="f.vacationID.value && formSubmit.get('allowUpdate').value == false ">
        <app-breadcrumb-share [parrentBreabcrumb]="'breadcrumb.parrent.vacation.send-request'" [childBreabcrumb]="'breadcrumb.parrent.vacation.vacation-detail'"
            [parrentBreabcrumbUrl]="'/send-list'">
        </app-breadcrumb-share>
    </ng-container>
    <ng-container *ngIf="!f.vacationID.value">
        <app-breadcrumb-share [parrentBreabcrumb]="'breadcrumb.parrent.vacation.send-request'" [childBreabcrumb]="'breadcrumb.child.create'"
            [parrentBreabcrumbUrl]="'/send-list'">
        </app-breadcrumb-share>
    </ng-container>
</div>
<form [formGroup]="formSubmit" (ngSubmit)="submitVacation()" *ngIf="this.isDataAvailable" appFocus>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5> {{'vacation.detail.vacation-title'| translate}}
                </h5>
            </div>
            <div class="card-body">
                <div class="row mb-1">
                    <div class="col-sm-4">
                        <b>
                            {{'vacation.detail.vacation-type'| translate}}
                            <i class="color-red" *ngIf="formSubmit.get('allowUpdate').value == true">*</i>
                        </b>
                        <select class="mb-12 form-control form-control-sm" id="vacationtype"
                            [ngClass]="{ 'is-invalid': (submitted && f.vacationTypeID.errors || f.vacationTypeID.errors?.serverError)}"
                            [attr.disabled]="formSubmit.get('allowUpdate').value === false ? '' : null"
                            formControlName="vacationTypeID">
                            <option *ngFor="let item of selectTypes; let i = index" value="{{item.keyResponse}}">
                                {{item.valueResponse}}</option>
                        </select>
                        <div *ngIf="f.vacationTypeID.errors?.required" class="invalid-feedback d-block">
                            {{'vacation.detail.vacation-type'| translate}}
                            {{'server-error.001'| translate}}
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-sm-4">
                        <b>
                            {{'vacation.detail.vacation-option'| translate}}
                            <i class="color-red" *ngIf="formSubmit.get('allowUpdate').value == true">*</i>
                        </b>
                        <br>
                        <div class="form-check form-check-inline" *ngFor="let item of selectOptions; let i = index">
                            <input type="radio" [value]="item.keyResponse" formControlName="vacationOptionID"
                                [ngClass]="{ 'is-invalid': (submitted && f.vacationOptionID.errors || f.vacationOptionID.errors?.serverError)}"
                                [attr.disabled]="formSubmit.get('allowUpdate').value === false ? '' : null"
                                (click)="onSelectionChange(item.valueResponse)">&nbsp;{{'vacation.detail.vacation-option' + (i + 1) | translate}}
                        </div>
                        <div class="col-sm-1">
                            <div *ngIf="f.vacationOptionID.errors?.required" class="invalid-feedback d-block">
                                {{'vacation.detail.vacation-option'| translate}}
                                {{'server-error.001'| translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1" *ngIf="this.selectedEntry === fullTimeConstant">
                    <div class="col-sm-4">
                        <div class="d-inline">
                            <b>
                                {{'vacation.detail.vacation-start-date'| translate}}
                                <i class="color-red" *ngIf="formSubmit.get('allowUpdate').value == true">*</i>
                            </b>
                            <div class="input-group">
                                <input class="form-control form-control-sm" placeholder="DD-MM-YYYY" name="d1"
                                    (ngModelChange)="this.onChangeValue()" formControlName="startDateCalculator"
                                    ngbDatepicker #d1="ngbDatepicker" [minDate]='config.minDate'
                                    [maxDate]='config.maxDate'
                                    [readonly]="formSubmit.get('allowUpdate').value === false ? 'true' : false"
                                    [ngClass]="{ 'is-invalid': submitted && (f.startDateCalculator.errors || formSubmit.hasError('isHoliday') || startDateInvalid) || f.startDate.errors?.serverError}">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()"
                                        [disabled]="formSubmit.get('allowUpdate').value === false ? 'true' : false"
                                        type="button"><i class="icon-calendar far fa-calendar-alt"></i></button>
                                </div>
                                <div *ngIf="f.startDateCalculator.errors?.required && submitted"
                                    class="invalid-feedback d-block">
                                    {{'vacation.detail.vacation-start-date'| translate}}
                                    {{'server-error.001'| translate}}
                                </div>
                            </div>
                            <div
                                *ngIf="f.startDateCalculator.errors && !f.startDateCalculator.errors?.required && submitted; else validateHolidays">
                                <div class="invalid-feedback" style="display: block;">
                                    {{'vacation.detail.vacation-start-date'| translate}}
                                    {{'server-error.003'| translate}}
                                </div>
                            </div>
                            <ng-template #validateHolidays>
                                <div *ngIf="startDateInvalid && !f.startDateCalculator.errors?.required && submitted ">
                                    <div class="invalid-feedback" style="display: block;">
                                        {{'vacation.detail.vacation-start-date'| translate}}
                                        {{'server-error.851'| translate}}
                                    </div>
                                </div>
                            </ng-template>
                            <div *ngIf="f.startDate.errors?.serverError">
                                <div class="invalid-feedback d-block">
                                    <span>
                                        {{'vacation.detail.vacation-start-date'| translate}}
                                        {{displayMessage}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="d-inline">
                            <b>
                                {{'vacation.detail.vacation-end-date'| translate}}
                                <i class="color-red" *ngIf="formSubmit.get('allowUpdate').value == true">*</i>
                            </b>
                            <div class="input-group">
                                <input class="form-control form-control-sm" placeholder="DD-MM-YYYY" name="d2"
                                    (ngModelChange)="this.onChangeValue()"
                                    [readonly]="this.selectedEntry === haftTimeConstant || this.selectedEntry === specialTimeConstant || formSubmit.get('allowUpdate').value === false ? 'true' : false"
                                    formControlName="endDateCalculator" ngbDatepicker #d2="ngbDatepicker" [minDate]='config.minDate'
                                    [maxDate]='config.maxDate'
                                    [ngClass]="{ 'is-invalid': submitted && (f.endDateCalculator.errors || formSubmit.hasError('dates') || endDateInvalid) || f.endDate.errors?.serverError}">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()"
                                        [disabled]="this.selectedEntry === haftTimeConstant || this.selectedEntry === specialTimeConstant || formSubmit.get('allowUpdate').value === false ? 'true' : false"
                                        type="button"><i class="icon-calendar far fa-calendar-alt"></i></button>
                                </div>
                                <div *ngIf="f.endDateCalculator.errors?.required && submitted"
                                    class="invalid-feedback d-block">
                                    {{'vacation.detail.vacation-end-date'| translate}}
                                    {{'server-error.001'| translate}}
                                </div>
                            </div>
                            <div
                                *ngIf="f.endDateCalculator.errors && !f.endDateCalculator.errors?.required && submitted; else validateHolidaye">
                                <div class="invalid-feedback" style="display: block;">
                                    {{'vacation.detail.vacation-end-date'| translate}}
                                    {{'server-error.003'| translate}}
                                </div>
                            </div>
                            <ng-template #validateHolidaye>
                                <div *ngIf="endDateInvalid && !f.endDateCalculator.errors?.required && submitted ">
                                    <div class="invalid-feedback" style="display: block;">
                                        {{'vacation.detail.vacation-end-date'| translate}}
                                        {{'server-error.851'| translate}}
                                    </div>
                                </div>
                            </ng-template>
                            <div *ngIf="formSubmit.hasError('dates') && submitted && !endDateInvalid">
                                <div class="invalid-feedback d-block">
                                    <span>
                                        {{'vacation.detail.vacation-end-date'| translate}}
                                        {{'server-error.004'| translate}}
                                        {{'vacation.detail.vacation-start-date'| translate}}
                                    </span>
                                </div>
                            </div>
                            <div *ngIf="f.endDate.errors?.serverError">
                                <div class="invalid-feedback d-block">
                                    <span>
                                        {{'vacation.detail.vacation-end-date'| translate}}
                                        {{displayMessage}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1" *ngIf="this.selectedEntry === specialTimeConstant">
                    <div class="col-sm-4">
                        <div class="d-inline">
                            <b>
                                {{'vacation.detail.vacation-start-date'| translate}}
                                <i class="color-red" *ngIf="formSubmit.get('allowUpdate').value == true">*</i>
                            </b>
                            <div class="input-group">
                                <input class="form-control form-control-sm" placeholder="DD-MM-YYYY" name="d1"
                                    (ngModelChange)="this.onChangeValue()" formControlName="startDateCalculator"
                                    ngbDatepicker #d1="ngbDatepicker" [minDate]='config.minDate'
                                    [maxDate]='config.maxDate'
                                    [readonly]="formSubmit.get('allowUpdate').value === false ? 'true' : false"
                                    [ngClass]="{ 'is-invalid': submitted && (f.startDateCalculator.errors || formSubmit.hasError('dates') || formSubmit.hasError('isHoliday') || startDateInvalid) || f.startDate.errors?.serverError}">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()"
                                        [disabled]="formSubmit.get('allowUpdate').value === false ? 'true' : false"
                                        type="button"><i class="icon-calendar far fa-calendar-alt"></i></button>
                                </div>
                                <div *ngIf="f.startDateCalculator.errors?.required && submitted"
                                    class="invalid-feedback d-block">
                                    {{'vacation.detail.vacation-start-date'| translate}}
                                    {{'server-error.001'| translate}}
                                </div>
                            </div>
                            <div
                                *ngIf="f.startDateCalculator.errors && !f.startDateCalculator.errors?.required && submitted ">
                                <div class="invalid-feedback" style="display: block;">
                                    {{'vacation.detail.vacation-start-date'| translate}}
                                    {{'server-error.003'| translate}}
                                </div>
                            </div>
                            <div *ngIf="startDateInvalid && !f.startDateCalculator.errors?.required && submitted ">
                                <div class="invalid-feedback" style="display: block;">
                                    {{'vacation.detail.vacation-start-date'| translate}}
                                    {{'server-error.851'| translate}}
                                </div>
                            </div>
                            <div *ngIf="formSubmit.hasError('dates') && submitted && !startDateInvalid">
                                <div class="invalid-feedback d-block">
                                    <span>
                                        {{'vacation.detail.vacation-start-date'| translate}}
                                        {{'server-error.012'| translate}}
                                        {{'vacation.detail.vacation-end-date'| translate}}
                                    </span>
                                </div>
                            </div>
                            <div *ngIf="f.startDate.errors?.serverError">
                                <div class="invalid-feedback d-block">
                                    <span>
                                        {{'vacation.detail.vacation-start-date'| translate}}
                                        {{displayMessage}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="d-inline">
                            <b>
                                {{'vacation.detail.vacation-start-time'| translate}}
                                <i class="color-red" *ngIf="formSubmit.get('allowUpdate').value == true">*</i>
                            </b>
                            <div class="input-group-prepend">
                                <select class="mb-12 form-control form-control-sm" id="starttimehour"
                                    [ngClass]="{ 'is-invalid': submitted && (formSubmit.hasError('breaktime') || formSubmit.hasError('worktimeAM') || formSubmit.hasError('startWorktimeAM'))}"
                                    [attr.disabled]="formSubmit.get('allowUpdate').value === false ? '' : null"
                                    formControlName="startTimeHour">
                                    <option *ngFor="let item of this.hourList; let i = index" value="{{item.key}}">
                                        {{item.value}}{{'vacation.detail.vacation-hour-unit'| translate}}</option>
                                </select>&nbsp;:&nbsp;
                                <select class="mb-12 form-control form-control-sm" id="starttimemin"
                                    [ngClass]="{ 'is-invalid': submitted && (formSubmit.hasError('breaktime') || formSubmit.hasError('worktimeAM') || formSubmit.hasError('startWorktimeAM'))}"
                                    [attr.disabled]="formSubmit.get('allowUpdate').value === false ? '' : null"
                                    formControlName="startTimeMin">
                                    <option *ngFor="let item of this.minList; let i = index" value="{{item.key}}">
                                        {{item.value}}{{'vacation.detail.vacation-min-unit'| translate}}</option>
                                </select>
                            </div>
                            <div *ngIf="formSubmit.hasError('breaktime') && submitted" class="invalid-feedback d-block">
                                {{'vacation.detail.vacation-start-time'| translate}}
                                {{'server-error.012'| translate}}
                                {{Type.TimeDefault.endHourAM}} : {{Type.TimeDefault.endMinAM}}
                            </div>
                            <div *ngIf="formSubmit.hasError('worktimeAM') && submitted"
                                class="invalid-feedback d-block">
                                {{'vacation.detail.vacation-start-time'| translate}}
                                {{'server-error.012'| translate}}
                                {{Type.TimeDefault.endHourAM}} : {{Type.TimeDefault.endMinAM}}
                            </div>
                            <div *ngIf="formSubmit.hasError('startWorktimeAM') && submitted"
                                class="invalid-feedback d-block">
                                {{'vacation.detail.vacation-start-time'| translate}}
                                {{'server-error.004'| translate}}
                                {{Type.TimeDefault.startHourAM}} : {{Type.TimeDefault.startMinAM}}
                            </div>
                        </div>
                        <div class="d-inline">
                            <b>
                                {{'vacation.detail.vacation-end-time'| translate}}
                                <i class="color-red" *ngIf="formSubmit.get('allowUpdate').value == true">*</i>
                            </b>
                            <div class="input-group-prepend">
                                <select class="mb-12 form-control form-control-sm" id="endtimehour"
                                    [ngClass]="{ 'is-invalid': submitted && (formSubmit.hasError('breaktime') || formSubmit.hasError('times') || formSubmit.hasError('worktimePM') || formSubmit.hasError('worktimeAMPM'))}"
                                    [attr.disabled]="formSubmit.get('allowUpdate').value === false ? '' : null"
                                    formControlName="endTimeHour">
                                    <option *ngFor="let item of this.hourList; let i = index" value="{{item.key}}">
                                        {{item.value}}{{'vacation.detail.vacation-hour-unit'| translate}}</option>
                                </select>&nbsp;:&nbsp;
                                <select class="mb-12 form-control form-control-sm" id="endtimemin"
                                    [ngClass]="{ 'is-invalid': submitted && (formSubmit.hasError('breaktime') || formSubmit.hasError('times') || formSubmit.hasError('worktimePM') || formSubmit.hasError('worktimeAMPM'))}"
                                    [attr.disabled]="formSubmit.get('allowUpdate').value === false ? '' : null"
                                    formControlName="endTimeMin">
                                    <option *ngFor="let item of this.minList; let i = index" value="{{item.key}}">
                                        {{item.value}}{{'vacation.detail.vacation-min-unit'| translate}}</option>
                                </select>
                            </div>
                            <div *ngIf="formSubmit.hasError('breaktime') && submitted" class="invalid-feedback d-block">
                                {{'vacation.detail.vacation-end-time'| translate}}
                                {{'server-error.004'| translate}}
                                {{Type.TimeDefault.startHourPM}} : {{Type.TimeDefault.startMinPM}}
                            </div>
                            <div *ngIf="formSubmit.hasError('worktimePM') && submitted"
                                class="invalid-feedback d-block">
                                {{'vacation.detail.vacation-end-time'| translate}}
                                {{'server-error.012'| translate}}
                                {{Type.TimeDefault.endHourPM}} : {{Type.TimeDefault.endMinPM}}
                            </div>
                            <div *ngIf="formSubmit.hasError('worktimeAMPM') && submitted"
                                class="invalid-feedback d-block">
                                {{'vacation.detail.vacation-end-time'| translate}}
                                {{'server-error.012'| translate}}
                                {{Type.TimeDefault.endHourAM}} : {{Type.TimeDefault.endMinAM}}
                            </div>
                            <div *ngIf="formSubmit.hasError('times') && submitted" class="invalid-feedback d-block">
                                {{'vacation.detail.vacation-end-time'| translate}}
                                {{'server-error.004'| translate}}
                                {{'vacation.detail.vacation-start-time'| translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1" *ngIf="this.selectedEntry === haftTimeConstant">
                    <div class="col-sm-4">
                        <div class="d-inline">
                            <b>
                                {{'vacation.detail.vacation-period'| translate}}
                                <i class="color-red" *ngIf="formSubmit.get('allowUpdate').value == true">*</i>
                            </b>
                            <br>
                            <div class="form-check form-check-inline">
                                <input type="radio" [value]="0"
                                    [attr.disabled]="formSubmit.get('allowUpdate').value === false ? '' : null"
                                    formControlName="localeTime">&nbsp;{{'vacation.detail.vacation-locale-AM'| translate}}
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" [value]="1"
                                    [attr.disabled]="formSubmit.get('allowUpdate').value === false ? '' : null"
                                    formControlName="localeTime">&nbsp;{{'vacation.detail.vacation-locale-PM'| translate}}
                            </div>
                        </div>
                        <br>
                        <div class="d-inline">
                            <b>
                                {{'vacation.detail.vacation-start-date'| translate}}
                                <i class="color-red" *ngIf="formSubmit.get('allowUpdate').value == true">*</i>
                            </b>
                            <div class="input-group">
                                <input class="form-control form-control-sm" placeholder="DD-MM-YYYY" name="d1"
                                    (ngModelChange)="this.onChangeValue()" formControlName="startDateCalculator"
                                    ngbDatepicker #d1="ngbDatepicker" [minDate]='config.minDate'
                                    [maxDate]='config.maxDate'
                                    [readonly]="formSubmit.get('allowUpdate').value === false ? 'true' : false"
                                    [ngClass]="{ 'is-invalid': submitted && (f.startDateCalculator.errors || formSubmit.hasError('dates') || formSubmit.hasError('isHoliday') || startDateInvalid) || f.startDate.errors?.serverError}">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()"
                                        [disabled]="formSubmit.get('allowUpdate').value === false ? 'true' : false"
                                        type="button"><i class="icon-calendar far fa-calendar-alt"></i></button>
                                </div>
                                <div *ngIf="f.startDateCalculator.errors?.required && submitted"
                                    class="invalid-feedback d-block">
                                    {{'vacation.detail.vacation-start-date'| translate}}
                                    {{'server-error.001'| translate}}
                                </div>
                            </div>
                            <div
                                *ngIf="f.startDateCalculator.errors && !f.startDateCalculator.errors?.required && submitted ">
                                <div class="invalid-feedback" style="display: block;">
                                    {{'vacation.detail.vacation-start-date'| translate}}
                                    {{'server-error.003'| translate}}
                                </div>
                            </div>
                            <div *ngIf="startDateInvalid && !f.startDateCalculator.errors?.required && submitted ">
                                <div class="invalid-feedback" style="display: block;">
                                    {{'vacation.detail.vacation-start-date'| translate}}
                                    {{'server-error.851'| translate}}
                                </div>
                            </div>
                            <div *ngIf="formSubmit.hasError('dates') && submitted && !startDateInvalid">
                                <div class="invalid-feedback d-block">
                                    <span>
                                        {{'vacation.detail.vacation-start-date'| translate}}
                                        {{'server-error.012'| translate}}
                                        {{'vacation.detail.vacation-end-date'| translate}}
                                    </span>
                                </div>
                            </div>
                            <div *ngIf="f.startDate.errors?.serverError">
                                <div class="invalid-feedback d-block">
                                    <span>
                                        {{'vacation.detail.vacation-start-date'| translate}}
                                        {{displayMessage}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-sm-4">
                        <b>
                            {{'vacation.detail.vacation-reason'| translate}}
                            <i class="color-red" *ngIf="formSubmit.get('allowUpdate').value == true">*</i>
                        </b>
                        <div class="input-group">
                            <textarea formControlName="vacationReason" class="form-control form-control-sm" wrap='on'
                                style="resize: none;"
                                [readonly]="formSubmit.get('allowUpdate').value === false ? 'true' : false"
                                [ngClass]="{ 'is-invalid': (submitted && f.vacationReason.errors || f.vacationReason.errors?.serverError || f.vacationReason.errors?.maxlength)}"
                                rows="3"></textarea>
                        </div>
                        <div *ngIf="f.vacationReason.errors?.required && submitted" class="invalid-feedback d-block">
                            {{'vacation.detail.vacation-reason'| translate}}
                            {{'server-error.001'| translate}}
                        </div>
                        <div *ngIf="f.vacationReason.errors?.maxlength" class="invalid-feedback d-block">
                            {{'vacation.detail.vacation-reason'| translate}}
                            {{'server-error.008'| translate: maxLenghtInput}}
                        </div>
                        <div *ngIf="f.vacationReason.errors?.serverError">
                            <div class="invalid-feedback d-block">
                                <span>
                                    {{'vacation.detail.vacation-reason'| translate}}
                                    {{displayMessage}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngIf="formSubmit.get('allowUpdate').value == true">
        <div class="card">
            <div class="card-header">
                <h5> {{'vacation.detail.vacation-assign'| translate}}
                </h5>
            </div>
            <div class="card-body">
                <table class="table-responsive">
                    <tbody>
                        <tr>
                            <td>
                                <b>
                                    {{'vacation.detail.vacation-leader'| translate}}
                                    <i class="color-red" *ngIf="formSubmit.get('allowUpdate').value == true">*</i>
                                </b>
                                <div class="input-group">
                                    <input hidden class="form-control form-control-sm"
                                        formControlName="vacationAssignGroup1">
                                    <input readonly class="form-control form-control-sm"
                                        formControlName="vacationAssignGroup1Name"
                                        [ngClass]="{ 'is-invalid': (submitted && f.vacationAssignGroup1.errors || f.vacationAssignGroup1.errors?.serverError)}">
                                    <div class="input-group-append">
                                        <br>
                                        <div class="btn-assign">
                                            <span class="input-group-btn input-space"></span><button
                                                class="btn btn-primary btn-sm btn-master form-control-sm"
                                                (click)="assignLeader()" type="button" value=" ← "><i
                                                    class="feather icon-arrow-left"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="f.vacationAssignGroup1.errors?.required && submitted"
                                    class="invalid-feedback d-block">
                                    {{'vacation.detail.vacation-leader'| translate}}
                                    {{'server-error.001'| translate}}
                                </div>
                                <div *ngIf="f.vacationAssignGroup1.errors?.serverError">
                                    <div class="invalid-feedback d-block">
                                        <span>
                                            {{'vacation.detail.vacation-leader'| translate}}
                                            {{displayMessage}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td class="align-middle">
                                <div class="col-sm-8">
                                    <b>&nbsp;</b>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-primary btn-sm" type="button"><i
                                                    class="feather icon-search"></i></button>
                                        </div>
                                        <input type="text" class="mb-12 form-control form-control-sm fixInputWidth"
                                            formControlName="filterEmployee" (ngModelChange)="filterItem($event)">
                                    </div>
                                    <div
                                        *ngIf="submitted && f.vacationAssignGroup1.errors || f.vacationAssignGroup1.errors?.serverError">
                                        &nbsp;
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    {{'vacation.detail.vacation-manager'| translate}}
                                    <i class="color-red" *ngIf="formSubmit.get('allowUpdate').value == true">*</i>
                                </b>
                                <div class="input-group">
                                    <input hidden class="form-control form-control-sm"
                                        formControlName="vacationAssignGroup2">
                                    <input readonly class="form-control form-control-sm"
                                        formControlName="vacationAssignGroup2Name"
                                        [ngClass]="{ 'is-invalid': (submitted && f.vacationAssignGroup2.errors || f.vacationAssignGroup2.errors?.serverError)}">
                                    <div class="input-group-append">
                                        <div class="btn-assign">
                                            <span class="input-group-btn input-space"></span><button
                                                class="btn btn-primary btn-sm btn-master form-control-sm"
                                                (click)="assignManager()" type="button" value=" ← "><i
                                                    class="feather icon-arrow-left"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="f.vacationAssignGroup2.errors?.required && submitted"
                                    class="invalid-feedback d-block">
                                    {{'vacation.detail.vacation-manager'| translate}}
                                    {{'server-error.001'| translate}}
                                </div>
                                <div *ngIf="f.vacationAssignGroup2.errors?.serverError">
                                    <div class="invalid-feedback d-block">
                                        <span>
                                            {{'vacation.detail.vacation-manager'| translate}}
                                            {{displayMessage}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td class="align-top" rowspan="3">
                                <div class="col-sm-8">
                                    <b>&nbsp;</b>
                                    <div class="input-group">
                                        <select [(ngModel)]="selectedToAdd"
                                            class="mb-12 form-control form-control-sm fixInputWidth" size="8"
                                            id="employees" formControlName="selectedEmployeeID">
                                            <option *ngFor="let item of selectEmployees" [ngValue]="item">
                                                {{item.valueResponse}}</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    {{'vacation.detail.vacation-forward'| translate}}
                                    <i class="color-red" *ngIf="formSubmit.get('allowUpdate').value == true">*</i>
                                </b>
                                <div class="input-group">
                                    <select readonly class="form-control form-control-sm fixInputWidth"
                                        [(ngModel)]="selectedToRemove"
                                        [ngClass]="{ 'is-invalid': (submitted && f.vacationAssignGroup3.errors || f.vacationAssignGroup3.errors?.serverError)}"
                                        formControlName="vacationAssignGroup3" size="3">
                                        <option *ngFor="let item of selectedForward" [ngValue]="item">
                                            {{item.valueResponse}}
                                        </option>
                                    </select>
                                    <div>
                                        <div class="btn-assign">
                                            <span class="input-group-btn input-space"></span><button
                                                class="btn btn-primary btn-sm btn-master form-control-sm"
                                                (click)="assignForward()" style="height: 30px;" type="button"
                                                value=" ← "><i class="feather icon-arrow-left"></i></button>
                                        </div>
                                        <br><br>
                                        <div class="btn-assign">
                                            <span class="input-group-btn input-space"></span><button
                                                class="btn btn-primary btn-sm btn-master form-control-sm"
                                                (click)="unassignForward()" style="height: 30px;" type="button"
                                                value=" → "><i class="feather icon-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="f.vacationAssignGroup3.errors?.required && submitted"
                                    class="invalid-feedback d-block">
                                    {{'vacation.detail.vacation-forward'| translate}}
                                    {{'server-error.001'| translate}}
                                </div>
                                <div *ngIf="f.vacationAssignGroup3.errors?.maxlength" class="invalid-feedback d-block">
                                    {{'vacation.detail.vacation-forward'| translate}}
                                    {{'server-error.008'| translate:maxLenghtApprover3}}
                                </div>
                                <div *ngIf="f.vacationAssignGroup3.errors?.serverError">
                                    <div class="invalid-feedback d-block">
                                        <span>
                                            {{'vacation.detail.vacation-forward'| translate}}
                                            {{displayMessage}}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-10">
                <button type="submit" class="btn  btn-primary btn-sm btn-master"
                    *ngIf="formSubmit.get('allowUpdate').value == true && (authButton.CREATE || authButton.UPDATE)">
                    <i class="feather icon-save"></i>
                    {{'button.save'| translate}}
                </button>
                <button type="button" class="btn btn-danger btn-sm btn-master" (click)="deleteVacation()"
                    *ngIf="formSubmit.get('vacationID').value != null && formSubmit.get('allowUpdate').value == true && authButton.DELETE">
                    <i class="feather icon-trash"></i>
                    {{'button.delete'| translate}}
                </button>
                <button type="button" class="btn btn-secondary  btn-sm btn-master" (click)="back($event)">
                    <i class="feather icon-rotate-ccw"></i>
                    {{'button.back'| translate}}
                </button>
            </div>
            <br>
        </div>
    </div>
    <div class="col-md-12" *ngIf="formSubmit.get('allowUpdate').value == false">
        <div class="card">
            <div class="card-header">
                <h5> {{'vacation.approve.vacation-approve-process'| translate}}
                </h5>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="table-light">
                        <tr>
                            <th style="width: 2%;"></th>
                            <th style="width: 10%;">{{'vacation.approve.vacation-role'| translate}}</th>
                            <th style="width: 10%;">{{'vacation.approve.vacation-approver'| translate}}</th>
                            <th class="text-center" style="width: 10%;">
                                {{'vacation.approve.vacation-result'| translate}}
                            </th>
                            <th style="width: 15%;">{{'vacation.approve.vacation-datetime'| translate}}</th>
                            <th style="width: 33%;">{{'vacation.approve.vacation-comment'| translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="1"></td>
                            <td rowspan="1">
                                <p class="text-primary">{{'vacation.approve.vacation-leader'| translate}}</p>
                            </td>
                            <td>
                                <div *ngFor="let item of selectedLeader">
                                    {{item.valueResponse}}
                                </div>
                            </td>
                            <td class="text-center">
                                <p *ngIf="formSubmit.get('statusNameGroupOne').value === this.Type.StatusType.APPROVED"
                                    class="badge badge-pill badge-success">
                                    {{ formSubmit.get('statusNameGroupOne').value }}</p>
                                <p *ngIf="formSubmit.get('statusNameGroupOne').value === this.Type.StatusType.REJECTED"
                                    class="badge badge-pill badge-danger">
                                    {{ formSubmit.get('statusNameGroupOne').value }}</p>
                            </td>
                            <td>
                                {{ formSubmit.get('vacationUpdateGroupOneDate').value | date: 'MMM dd, yy H:mm'}}</td>
                            <td>
                                {{ formSubmit.get('vacationGroupOneNote').value }}
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="1"></td>
                            <td rowspan="1">
                                <p class="text-primary">{{'vacation.approve.vacation-manager'| translate}}</p>
                            </td>
                            <td>
                                <div *ngFor="let item of selectedManager">
                                    {{item.valueResponse}}
                                </div>
                            </td>
                            <td class="text-center">
                                <p *ngIf="formSubmit.get('statusNameGroupTwo').value === this.Type.StatusType.APPROVED"
                                    class="badge badge-pill badge-success">
                                    {{ formSubmit.get('statusNameGroupTwo').value }}</p>
                                <p *ngIf="formSubmit.get('statusNameGroupTwo').value === this.Type.StatusType.REJECTED"
                                    class="badge badge-pill badge-danger">
                                    {{ formSubmit.get('statusNameGroupTwo').value }}</p>
                            </td>
                            <td>
                                {{ formSubmit.get('vacationUpdateGroupTwoDate').value | date: 'MMM dd, yy H:mm'}}</td>
                            <td>{{ formSubmit.get('vacationGroupTwoNote').value }}</td>
                        </tr>
                        <tr>
                            <td rowspan="2"></td>
                            <td rowspan="2">
                                <p class="text-primary">{{'vacation.approve.vacation-forward'| translate}}</p>
                            </td>
                            <td>
                                <div *ngFor="let item of selectedForward">
                                    {{item.valueResponse}}
                                </div>
                            </td>
                            <td class="text-center">
                                <p *ngIf="formSubmit.get('statusNameGroupThree').value === this.Type.StatusType.APPROVED"
                                    class="badge badge-pill badge-success">
                                    {{ formSubmit.get('statusNameGroupThree').value }}</p>
                                <p *ngIf="formSubmit.get('statusNameGroupThree').value === this.Type.StatusType.REJECTED"
                                    class="badge badge-pill badge-danger">
                                    {{ formSubmit.get('statusNameGroupThree').value }}</p>
                            </td>
                            <td>
                                {{ formSubmit.get('vacationUpdateGroupThreeDate').value | date: 'MMM dd, yy H:mm'}}
                            </td>
                            <td>{{ formSubmit.get('vacationGroupThreeNote').value }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-10">                
                <button type="button" class="btn btn-secondary  btn-sm btn-master" (click)="back($event)">
                    <i class="feather icon-rotate-ccw"></i>
                    {{'button.back'| translate}}
                </button>
            </div>
            <br>
        </div>
    </div>
</form>