<div class="auth-wrapper maintenance">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center"><img src="assets/images/maintenance/403.png" alt="" class="img-fluid">
                    <h5 class="text-muted my-4">{{'error.forbidden403.permission-denied'| translate}}</h5>
                    <button class="btn waves-effect waves-light btn-primary mb-4" (click)="backToHome()">
                        <i class="feather icon-refresh-ccw mr-2"></i>
                        {{'error.forbidden403.back-to-home'| translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>