<app-breadcrumb-share [parrentBreabcrumb]="'breadcrumb.parrent.master.degree'"
    [childBreabcrumb]="isUpdate ? 'breadcrumb.child.update' : 'breadcrumb.child.create'"
    [parrentBreabcrumbUrl]="'/degree'">
</app-breadcrumb-share>

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5 *ngIf="isUpdate; else createTitle">
                {{'master.degree.detail.label.title-update'| translate}} </h5>
        </div>
        <ng-template #createTitle>
            <h5>{{'master.degree.detail.label.title-create'| translate}}</h5>
        </ng-template>

        <div class="card-body" *ngIf="!loading">
            <form [formGroup]="formData" (ngSubmit)="submitForm()" class="needs-validation" novalidate appFocus>
                <div class="form-row justify-content-left">
                    <div class="col-md-4 mb-3" *ngIf="!showId">
                        <input type="text" class="form-control form-control-sm" placeholder="Id"
                            formControlName="deparmentID">
                    </div>
                    <div class="col-md-4 mb-1">
                        <label class="floating-label">
                            {{'master.degree.detail.label.degree-code'| translate}}
                            <i class="color-red">*</i>
                        </label>
                        <input type="text" class="form-control form-control-sm" formControlName="degreeCode"
                            [ngClass]="{ 'is-invalid': (submitted && f.degreeCode.errors && f.degreeCode.pristine) || f.degreeCode.errors?.serverError}">
                        <div *ngIf="submitted && f.degreeCode.errors && f.degreeCode.pristine"
                            class="invalid-feedback">
                            <div *ngIf="f.degreeCode.errors.required">
                                {{'master.degree.detail.label.degree-code'| translate}}
                                {{'server-error.001'| translate}}</div>
                            <div *ngIf="f.degreeCode.errors.pattern; else checkLength">
                                {{'master.degree.detail.label.degree-code'| translate}}
                                {{'server-error.007'| translate}}</div>
                            <ng-template #checkLength>
                                <div *ngIf="f.degreeCode.errors.maxlength">
                                    {{'master.degree.detail.label.degree-code'| translate}}
                                    {{'server-error.008'| translate:maxLenghtCode}}</div>
                            </ng-template>
                        </div>
                        <div class="invalid-feedback" *ngIf="f.degreeCode.errors?.serverError">
                            <div>{{'master.degree.detail.label.degree-code'| translate}}
                                {{displayMessage}}</div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-1">
                        <label class="floating-label">
                            {{'master.degree.detail.label.degree-name'| translate}}
                            <i class="color-red">*</i>
                        </label>
                        <input type="text" class="form-control form-control-sm" placeholder
                            formControlName="degreeName"
                            [ngClass]="{ 'is-invalid': (submitted && f.degreeName.errors && f.degreeName.pristine) || f.degreeName.errors?.serverError}">
                        <div *ngIf="submitted && f.degreeName.errors && f.degreeName.pristine"
                            class="invalid-feedback">
                            <div *ngIf="f.degreeName.errors.required">
                                {{'master.degree.detail.label.degree-name'| translate}}
                                {{'server-error.001'| translate}}</div>
                            <div *ngIf="f.degreeName.errors.maxlength">
                                {{'master.degree.detail.label.degree-name'| translate}}
                                {{'server-error.008'| translate:maxLenghtName}}</div>
                        </div>
                        <div *ngIf="f.degreeName.errors?.serverError" class="invalid-feedback">
                            {{'master.degree.detail.label.degree-name'| translate}}
                            {{displayMessage}}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-8">
                        <label>
                            {{'master.degree.detail.label.description'| translate}}
                        </label>
                        <textarea appResizeTerexa rows="12" cols="100" type="text" class="form-control form-control-sm"
                            formControlName="degreeDescription"
                            [ngClass]="{ 'is-invalid': (submitted && f.degreeDescription.errors && f.degreeDescription.pristine) || f.degreeDescription.errors?.serverError} ">
                        </textarea>
                        <div *ngIf="submitted && f.degreeDescription.errors && f.degreeDescription.pristine"
                            class="invalid-feedback">
                            <div *ngIf="f.degreeDescription.errors.maxlength">
                                {{'master.degree.detail.label.description'| translate}}
                                {{'server-error.008'| translate:maxLenghtDescription}}</div>
                        </div>
                        <div class="invalid-feedback" *ngIf="f.degreeDescription.errors?.serverError">
                            <div>{{'master.degree.detail.label.description'| translate}} {{displayMessage}}</div>
                        </div>
                    </div>
                </div>
                <div class="mt-2 form-row">
                    <div class="col-12">
                        <button *ngIf="authButton.UPDATE || authButton.CREATE" class="btn btn-primary btn-sm btn-master"
                            type="submit">
                            <i class="feather icon-save"></i>
                            {{'button.save'| translate}}
                        </button>
                        <button (click)="back()" class="btn btn btn-secondary btn-sm btn-master" type="button">
                            <i class="feather icon-rotate-ccw"></i>
                            {{'button.back'| translate}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<ng-container *ngIf="loading">
</ng-container>