<app-breadcrumb-share [parrentBreabcrumb]="'breadcrumb.parrent.master.employee-position'"></app-breadcrumb-share>
<div class="col-md-12">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border" (click)="screenProps.isCollapsed = !screenProps.isCollapsed"
            [attr.aria-expanded]="!screenProps.isCollapsed" aria-controls="collapseExample">
            {{'button.search'| translate}}
            <div style="margin-left: 5px; display: inline-flex;">
                <i class="fas fa-angle-up" *ngIf="screenProps.isCollapsed === true;"></i>
                <i class="fas fa-angle-down" *ngIf="screenProps.isCollapsed === false;"></i>
            </div>
        </legend>
        <div id="collapseExample" [ngbCollapse]="screenProps.isCollapsed">
            <div class="card card-master">
                <div class="card-body search-body">
                    <form [formGroup]="formSearch" (ngSubmit)="searchPosition()" appFocus>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="Code">
                                    {{'master.employeePosition.list.code'| translate}}
                                </label>
                                <input type="text" class="form-control form-control-sm" formControlName="positionEmployeeCode" placeholder>
                            </div>
                            <div class="col-sm-3">
                                <label for="Name">
                                    {{'master.employeePosition.list.name'| translate}}
                                </label>
                                <input type="text" class="form-control form-control-sm" formControlName="positionEmployeeName">
                            </div>
                        </div>
                        <div class="mb-2 mt-2 row">
                            <div class="col-sm-10">
                                <button appDebounceClick (debounceClick)="searchPosition()"
                                    type="submit" class="btn  btn-primary btn-sm btn-master">
                                    <i class="feather icon-search"></i>
                                    {{'button.search'| translate}}
                                </button>
                                <button appDebounceClick type="button" class="btn   btn-secondary  btn-sm btn-master"
                                    (debounceClick)="reset()">
                                    <i class="feather icon-refresh-ccw"></i>
                                    {{'button.refresh'| translate}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<div class="col-md-12 mb-2 mt-2">
    <div class="btn-fun text-right">
        <button *ngIf="authButton.CREATE" type="button" class="btn  btn-primary btn-sm btn-master"
            [routerLink]="['/employee-position/create']">
            <i class="feather icon-plus"></i>
            {{'button.create'| translate}}
        </button>
        <button *ngIf="authButton.DELETE" type="button" (click)="deletePosition()"
            class="btn btn-danger btn-sm">
            <i class="feather icon-trash"></i>
            {{'button.delete'| translate}}
        </button>
    </div>
</div>
<div class="col-md-12" *ngIf="employeePositionList?.length !== 0 && employeePositionList !== undefined; else nodata">
    <div class="card table-card">
        <div class="d-flex justify-content-between panigator-responsive">
            <div class="grid-page-size">
                <div class="top-page-size">
                    <p class="text-panigator">{{'p.display'| translate}}</p>
                    <div class="select-paging">
                        <select class="form-control form-control-sm page-size" style="width: auto" name="pageSize"
                            (change)="changePageSize($event.target.value)">
                            <option *ngFor="let option of screenProps.pageOpiton"
                                [selected]="option === screenProps.pageSize" [value]="option">
                                {{option}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="text-panigator">
                        {{'p.from'| translate}}
                        {{ (1 + (screenProps.pageNum !== 0 ? screenProps.pageNum * screenProps.pageSize : 0)) || 0}}
                        {{'p.to'| translate}}
                        {{ (employeePositionList?.length + (screenProps.pageNum !== 0 ? screenProps.pageNum * screenProps.pageSize : 0)) || 0}}
                        {{'p.of'| translate}} {{screenProps.totalRecord || 0}} {{'p.record'| translate}}
                    </p>
                </div>
            </div>
            <div class="grid-panigator">
                <ngb-pagination [collectionSize]="screenProps.totalRecord" (pageChange)="pageChangeOutput($event)"
                    [(page)]="screenProps.page" [pageSize]="screenProps.pageSize" [maxSize]="screenProps.maxSize"
                    [boundaryLinks]="true" [rotate]="true">
                </ngb-pagination>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th *ngIf="authButton.DELETE" class="remove-th text-left check">
                            <label
                                class="check-task custom-control custom-checkbox d-flex justify-content-center done-task text-center">
                                <input type="checkbox" class="custom-control-input" (change)="checkAll($event)" (click)="checkAll($event)"
                                    [(ngModel)]="checked">
                                <span class="custom-control-label"></span>
                            </label>
                        </th>
                        <th class="text-right">
                            {{'p.no'| translate}}
                        </th>
                        <th class="text-center sort-column th-code" sortable="positionEmployeeCode"
                            (sort)="onSort($event)">
                            {{'master.employeePosition.list.table.employeePosition-code'| translate}}
                            <div class='direction'>
                                <div
                                    [className]="direction === 'desc' && column === 'positionEmployeeCode' ? 'hide' : 'asc'">
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </div>
                                <div
                                    [className]="direction === 'asc' && column === 'positionEmployeeCode' ? 'hide' : 'desc'">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                            </div>
                        </th>
                        <th class="text-left" sortable="positionEmployeeName" (sort)="onSort($event)">
                            {{'master.employeePosition.list.table.employeePosition-name'| translate}}
                            <div class='direction'>
                                <div
                                    [className]="direction === 'desc' && column === 'positionEmployeeName' ? 'hide' : 'asc'">
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>

                                </div>
                                <div
                                    [className]="direction === 'asc' && column === 'positionEmployeeName' ? 'hide' : 'desc'">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                            </div>
                        </th>
                        <th class="text-left description" sortable="positionEmployeeDescription"
                            (sort)="onSort($event)">
                            {{'master.employeePosition.list.table.description'| translate}}
                            <div class='direction'>
                                <div
                                    [className]="direction === 'desc' && column === 'positionEmployeeDescription' ? 'hide' : 'asc'">
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>

                                </div>
                                <div
                                    [className]="direction === 'asc' && column === 'positionEmployeeDescription' ? 'hide' : 'desc'">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of employeePositionList; let i = index; trackBy: trackByFn ">
                        <tr>
                            <td *ngIf="authButton.DELETE" class="text-center">
                                <div class="chk-option">
                                    <label
                                        class="check-task custom-control custom-checkbox d-flex justify-content-center done-task text-center">
                                        <input type="checkbox" class="custom-control-input"
                                            (change)="onItemChecked(item.positionEmployeeID, $event)"
                                            (click)="onItemChecked(item.positionEmployeeID, $event)"
                                            [checked]="screenProps.setOfCheckedId.has(item.positionEmployeeID)">
                                        <span class="custom-control-label"></span>
                                    </label>
                                </div>
                            </td>
                            <td class="text-right ">
                                {{((i + 1 )+ (screenProps.pageNum !== 0 ? screenProps.pageNum * screenProps.pageSize : 0))}}
                            </td>
                            <td class="text-center underline"
                                [routerLink]="['/employee-position/detail/',item.positionEmployeeID]"
                                routerLinkActive="router-link-active">
                                {{item.positionEmployeeCode}}
                            </td>
                            <td class="underline" [routerLink]="['/employee-position/detail/',item.positionEmployeeID]"
                                routerLinkActive="router-link-active">
                                {{item.positionEmployeeName}}
                            </td>
                            <td>{{item.positionEmployeeDescription}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #nodata>
    <div class="col-md-12" *ngIf="employeePositionList?.length === 0">
        {{ 'table.no-data' | translate}}
    </div>
</ng-template>