div[class*='col-sm'] label {
    margin-bottom: 0.05rem;
}

div[class*='mb-2 row'] {
    margin-bottom: 0.25rem !important;
}

table td {
    cursor: default;
}

button[class*='calendar'] {
    padding: 0rem 0rem;
    border: 2px solid rgba(0, 0, 0, 0.15);
}

.icon-calendar {
    padding: 0.325rem 0.675rem;
}

.can-click {
    cursor: pointer;
}

td a {
    text-decoration: underline;
}

.invalid {
    border: 2px solid red !important;
}

.fixInputWidth {
    width: 175px;
}

.fixButtonWidth {
    width: 50px;
}

.status-color--pending {
    background-color: #0984e3;
    color: #fff;
    padding: 2px 3px;
    border-radius: 10px;
    text-align: center;
}
.status-color--finish {
    background-color: #2ecc71;
    color: #fff;
    padding: 2px 3px;
    border-radius: 10px;
    text-align: center;
}
.status-color--doing {
    background-color: #fed330;
    color: #fff;
    padding: 2px 3px;
    border-radius: 10px;
    text-align: center;
}
.status-color--reject {
    background-color: #fc0202;
    color: #fff;
    padding: 2px 3px;
    border-radius: 10px;
    text-align: center;
}