.modal-header .close {
    padding: 0px 10px !important;
    margin: -20px -20px -20px auto;
}

.fa-times {
    font-size: 15px;
}

.input-group-picker {
    min-width: 9rem;
}

select {
    min-width: 9rem;
}
