<div class="row">
    <div class="col-md-12">
        <div class="btn-fun row">
            <div class="col-sm-10">
                <button [hidden]="isProfile" type="button" (click)="openPopup()"
                    class="btn   btn-secondary  btn-sm btn-master">
                    <i class="feather icon-rotate-ccw"></i>
                    {{'button.back'| translate}}
                </button>
                <button
                    *ngIf="authButton.UPDATE && (listLanguageDetail !== undefined && listLanguageDetail !== null && listLanguageDetail?.length > 0)"
                    class="btn  btn-info btn-sm btn-master" (click)="onEditLanguage()">
                    <!-- <i class="feather icon-save"></i> -->
                    <i class="feather icon-edit"></i>
                    {{'button.edit'| translate}}
                </button>
                <button type="button"
                    *ngIf="authButton.UPDATE && (listLanguageDetail === undefined || listLanguageDetail === null || listLanguageDetail?.length < 1)"
                    class="btn btn-primary btn-sm btn-master" (click)="addLanguage()"><i class="feather icon-plus"></i>
                    {{'button.add'| translate}}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card table-card">
            <div class="d-flex justify-content-between panigator-responsive card-header-right">
                <div style="margin-right: 10px;">
                    <div class="top-page-size">
                        <span>{{'employee.view.language-view.language-header'| translate}}</span>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-sm table-bordered">
                    <thead>
                        <tr>
                            <th class="th-5">{{'employee.view.language-view.no' | translate}} </th>
                            <th>{{'employee.view.language-view.language-category' | translate}} </th>
                            <th>{{'employee.view.language-view.language-name' | translate}} </th>
                            <th>{{'employee.view.language-view.language-certificate' | translate}}</th>
                            <th>{{'employee.view.language-view.language-expiration-date' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="listLanguageDetail?.length === 0">
                            <td colspan="5" class="text-center">
                                {{ 'table.no-data' | translate}}
                            </td>
                        </tr>
                        <ng-container *ngFor="let item of languagesMap | keyvalue, let i = index">
                            <tr *ngIf="item">
                                <td [attr.rowspan]="item.value.length" class="text-right">{{i+1}}</td>
                                <td [attr.rowspan]="item.value.length">{{item.key}}</td>
                                <td>{{item.value[0].languageName}}</td>
                                <td>{{item.value[0].languageCertificate}}</td>
                                <td>{{item.value[0].expirationDate | date:'dd/MM/yyyy'}}</td>
                            </tr>
                            <ng-container *ngFor="let language of item.value; let i= index;">
                                <tr *ngIf="i!=0">
                                    <td>{{language.languageName}}</td>
                                    <td>{{language.languageCertificate}}</td>
                                    <td>{{language.expirationDate | date:'dd/MM/yyyy'}}</td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>