div[class*='col-sm'] label {
    margin-bottom: 0.05rem;
}

div[class*='mb-2 row'] {
    margin-bottom: 0.25rem !important;
}

button[class*='calendar'] {
    padding: 0rem 0rem;
    border: 2px solid rgba(0, 0, 0, 0.15);
}

.icon-calendar {
    padding: 0.325rem 0.675rem;
}

.can-click {
    cursor: pointer;
}

.tbl-style {
    border: 1px solid #f1f3f5;
}

.table thead th {
    vertical-align: inherit !important;
    border: 1px solid #dee2e6
}

.table thead th:last-child {
    border-right: none;
}

.table thead th:first-child {
    border-left: none;
}

.custom-control {
    padding-top: 0.3rem !important;
}

